<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/new_password.css" />
    <link rel="stylesheet" href="/css/all_buttons.css" />
    <title><%= pageTitle %></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="main-login">
      <form
        class="frame-parent"
        id="frameForm"
        action="/new-password"
        method="POST"
      >
        <p>Enter new password</p>
        <input
        class="frame-item"
          type="password"
          name="password"
          placeholder="Enter new password"
          id="password"
        />
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input
          type="hidden"
          name="passwordToken"
          value="<%= passwordToken %>"
        />
        <button class="login-wrapper login disabled-button" type="submit">
          Update Password
        </button>
      </form>
      <% if (errorMessage) { %>
      <div class="user-message error-stmt"><%= errorMessage %></div>
      <% } %>
    </div>
  </body>
</html>
