#info-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 77rem;
  margin: 2rem auto;
  font-family: var(--font-inter);
}
#search-bar {
  display: flex;
  align-items: center;
  width: 19.563rem;
  box-sizing: border-box;
  padding: 1rem;
  background: #fff;
  gap: 1rem;
  height: 3rem;
  box-shadow: 0px 9px 20px rgba(197, 204, 215, 0.5);
  border-radius: 8px;
}
#search-bar button {
  background-color: var(--primary-color);
  height: 2.094rem;
  width: 2.094rem;
  border-radius: var(--br-sm);
  padding: 10px;
  margin-left: var(--br-md);
}
#search-bar button:hover {
  background-color: var(--primary-btn-hover);
}
#search-bar .search-icon {
  height: 0.844rem;
  width: 0.844rem;
}
#search-bar .search-text {
  outline: none;
  border: none;
}
#info-search #personal-info {
  display: flex;
  gap: 1.25rem;
}
#info-search #personal-info label {
  font-size: 0.875rem;
  color: grey;
}
#info-search #personal-info p {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 0.5rem;
}
#info-search #personal-info div:nth-child(1) {
  width: 10.313rem;
}
#info-search #personal-info div:nth-child(2) {
  width: 4rem;
}
#info-search #personal-info div:nth-child(3) {
  width: 13.063rem;
}
#info-search #personal-info div:nth-child(4) {
  width: 9.5rem;
}

/* table repiring from absolute to static */
.table {
  margin-top: 1rem;
}
#sem-details {
  margin: auto;
  font-family: var(--font-inter);
}
.sem {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sem .upper {
  margin: auto;
  width: 72rem;
}
.sem--duration {
  color: var(--grey);
  font-size: 1.25rem;
  font-weight: 500;
}
#sem-details p {
  font-size: 2.5rem;
  font-weight: 700;
}
.not-found-text {
  position: absolute;
  top: 60vh;
}
