body {
  margin: 0;
  background-color: var(--primary-color);
}
.frame-child,
.frame-item {
  border: 1.5px solid #dbdbdb;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: 1.125rem;
  background-color: transparent;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 27rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  align-items: center;
  justify-content: flex-start;
  color: #dbdbdb;
  caret-color: var(--black);
}

.frame-child:hover,
.frame-item:hover {
  border: 1.5px solid var(--grey);
}
.login {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.frame-item:focus,
.frame-child:focus {
  outline-color: var(--primary-color);
  box-sizing: border-box;
}
.frame-item:valid,
.frame-child:valid {
  border-color: var(--grey);
  color: var(--grey);
}
.login:hover {
  background-color: var(--primary-btn-hover);
}
.login-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md) var(--padding-sm);
  background-color: var(--primary-color);
  border-radius: var(--br-sm);
  width: 27rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-parent {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  
  padding: var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

