.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 1rem;
  font-family: var(--font-inter);
}
label {
  font-weight: 500;
  line-height: 16.94px;
}
p {
  margin-top: 0.25rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 21.78px;
}
.card {
  background-color: var(--color-white);
  border-radius: 1rem;
  margin-top: 3rem;
  padding: 4.5rem 6.5rem;
  box-shadow: 0px 17px 66px rgba(64, 63, 98, 0.16);
}

.card > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

p {
  font-size: 1.25rem;
}
