nav {
  background-color: #fff;
}

.nav-container {
  padding: 0.85rem 3.5rem;
  width: 100%;
  .nav-menus {
    font-size: 1.1rem;
    font-weight: 500;
    a,
    button {
      span {
        line-height: 24px;
        color: #7f7f7f;
      }
    }
    
    .fa-icon {
      line-height: 24px;
      filter: grayscale(1) opacity(0.6);
    }
  }
}
